.section{
  padding: 24px 0;
  // background-color: $bg_default_2;
  background-color: $white;
  .headBox{
    padding: 16px 0 32px 0;
    text-align: center;
    .title{
      margin-bottom: 8px;
      font-size: 1.6rem;
      text-transform: uppercase;
      border-bottom: 2px solid $primary;
      display: inline-block;
    }
  }
  .formPanel{
    background-color: #f5f4f4;
    padding: 32px 0;
    border-radius: 16px;
    .imgMask{
      border-radius: 6px;
      overflow: hidden;
    }
  }
}


.cardBox{
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  &__mask{
    &:before{
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(32, 33, 35, 0.2);
      transition: all 0.5s ease-in-out;
      z-index: 10;
    } 
    img{
      transition: all .25s ease-in-out;
      &:hover{
        transform: scale(1.1);
      }
    }
  }
  &__title{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 16px;
    width: 100%;
    z-index: 20;
    color: $white;
    text-align: center;
  }
}